/* &display=swap */
/* 
@font-face {
	font-family: "...";
	src: url("../fonts") format("woff2"), url("../fonts") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
} 
*/
@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Taviraj:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);


body {
	font-family: "Roboto";
	font-size: 18px;
	color: rgb(189, 178, 178);
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.header {
	background: linear-gradient(45deg, rgba(45,8,80,1) 0%, rgba(103,19,182,1) 35%, rgba(121,33,204,1) 100%);
	padding: 15px;
}
.header-logo {
	margin: 0 auto 20px;
}
.header-link {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 auto;
	border: 2px solid red;
	background-color: red;
}
.header-link:hover{
	outline: 3px solid rgb(146, 63, 15);
}
.header-link:active{
	box-shadow:  0 0 5px 5px rgb(141, 92, 2);
}
.header-link img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.header-body{
	visibility: hidden;
}
.header-body:target{
	visibility: visible;
} 
.header-menu{
	margin: 0 0 20px 0;
	max-width: 300px;
}
.header-menu > li{
	text-transform: capitalize;
	padding: 8px 12px;
	border-radius: 10px;
	background-color: rgb(121, 33, 204);
}
.header-menu > li:not(:last-child){
	margin: 0 0 7px 0;
}
.header-menu ul{
	padding: 5px 0 0 30px;
}
.header-menu ul li:not(:last-child){
	margin: 0 0 5px 0;
}
.header-menu ul li a{
	text-transform: lowercase;
	display: block;
	border-radius: 10px;
	padding: 3px 10px;
	border-top: 2px solid rgb(74, 13, 131);
	border-bottom: 2px solid rgb(74, 13, 131);
}
.header-button {
	display: block;
	max-width: 200px; 
	margin: 0 0 0 auto;
	text-transform: uppercase;
	background-color: rgb(121, 33, 204);
	line-height: 3;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 2px 5px 2px rgb(45, 8, 80);
}
.header-button:hover{
	text-decoration: underline;
	color: red;
	font-weight: 700;
	box-shadow: 0 1px 3px 1px rgb(45, 8, 80);
}
.main-link:hover,
.header-button:hover,
.header-menu ul li:hover a{
	background-color: rgb(103, 19, 182);
}
.main-link:active,
.header-button:active,
.header-menu ul li:active a{
	box-shadow: inset 0 0 5px 2px rgb(74, 13, 131);
}

.wrapper-main{
	background: linear-gradient(125deg, rgba(45,8,80,1) 0%, rgba(103,19,182,1) 35%, rgba(121,33,204,1) 100%);
}
.main {
	padding: 15px;
	max-width: 700px;
	margin: 0 auto;
}
.main-link{
	background-color: rgb(121, 33, 204);
	padding: 10px 20px;
	border-radius: 15px;
	display: inline-block;
	margin: 0 0 10px 0;
}
.main-survey {
	max-width: 700px;
	margin: 0 auto;
	border: 3px solid rgb(74, 13, 131);
	border-radius: 10px;
	padding: 20px;
	background-color: rgb(121, 33, 204);
}
.survay-title {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	margin: 0 0 20px 0;
}
.main-survey p{
	line-height: 1.3;
	text-align: justify;
	margin: 0 0 15px 0;
	display: inline-block;
}
.main-survey > *:last-child{
	margin-bottom: 0;
}
.survey-img {
	display: block;
	width: 70%;
	margin: 0 auto 15px;
}
.survay-subtitle {
	font-size: 32px;
	font-weight: 700;
	margin: 0 0 15px 0;
}
.survay-befor::before {
	content: '';
	display: inline-block;
	height: 15px;
	width: 2px;
	background: rgb(74, 13, 131);
	margin: 0 10px 0 0;
}

.main-maket {
	padding: 15px;
	max-width: 700px;
	margin: 0 auto;
	font-family: "Lato", sans-serif;
	background: #E5E5E5;
}
.maket-link{
	background-color: #1E212C;
	padding: 10px 20px;
	border-radius: 15px;
	display: inline-block;
	margin: 0 0 10px 0;
}
.maket-subtitle {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 1px;
	color: #1E212C;
	text-transform: uppercase;
	margin: 0 0 8px 0;
}
.maket-title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1E212C;
		margin: 0 0 40px 0;
}
.maket-list{
	margin: 0 0 22px 0;
}
.maket-list li{
	color: #424551;
	font-size: 16px;
	line-height: 1.6;
	padding: 0 0 0 32px;
}
.maket-list li:not(:last-child){
	margin: 0 0 12px 0;
}
.maket-list li::before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 16px 0 -32px;
	background: url("../img/vector.png") 0 0 / 16px no-repeat;
}
.maket-button {
	display: inline-block;
	margin: 0 0 30px 0;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	padding: 0 32px;
	font-weight: 700;
	font-size: 14px;
	line-height: 3.14;
	letter-spacing: 0.5px;
	color: #fff;
}
.maket-button:hover{
	text-decoration: underline;
}
.main-before{
	font-family: "Taviraj", sans-serif;
	color: #333333;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}
.main-before::after{
	content: '';
	display: block;
	width: 65px;
	height: 2px;
	margin: 8px 0 0 0;
	background-color: #333333;
}

.footer {
}
*:focus{
	outline: 1.5px solid #666;
}
